In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# URL of the Wikipedia page
url = 'https://en.wikipedia.org/wiki/List_of_European_Cup_and_UEFA_Champions_League_finals'

# Send a GET request to fetch the page content
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.text, 'lxml')

# Find all tables on the page
tables = soup.find_all('table', {'class': 'wikitable'})

In [3]:
# Convert the table to a DataFrame (assuming the table we want is the first one)
df = pd.read_html(str(tables[0]))[0]


# Display the DataFrame
print(df)

   0                                     1
0  †       Match was won during extra time
1  *  Match was won on a penalty shoot-out
2  &          Match was won after a replay

In [4]:
# The table we want is the second one (index 1)
df = pd.read_html(str(tables[1]))[0]

# Set the second row as the header
df.columns = df.iloc[0]

# Drop the first row (which is now used as header)
df = df.drop(0).reset_index(drop=True)


# Display the DataFrame
print(df)

0            Season       Country            Winners    Score  \
0           1955–56         Spain        Real Madrid      4–3
1           1956–57         Spain        Real Madrid      2–0
2           1957–58         Spain        Real Madrid     3–2†
3           1958–59         Spain        Real Madrid      2–0
4           1959–60         Spain        Real Madrid      7–3
5           1960–61      Portugal            Benfica      3–2
6           1961–62      Portugal            Benfica      5–3
7           1962–63         Italy           AC Milan      2–1
8           1963–64         Italy        Inter Milan      3–1
9           1964–65         Italy        Inter Milan      1–0
10          1965–66         Spain        Real Madrid      2–1
11          1966–67      Scotland             Celtic      2–1
12          1967–68       England  Manchester United     4–1†
13          1968–69         Italy           AC Milan      4–1
14          1969–70   Netherlands          Feyenoord     2–1†
15          1970–71   Netherlands               Ajax      2–0
16          1971–72   Netherlands               Ajax      2–0
17          1972–73   Netherlands               Ajax      1–0
18          1973–74  West Germany      Bayern Munich      1–1
19             4–0&         23325                NaN      NaN
20          1974–75  West Germany      Bayern Munich      2–0
21          1975–76  West Germany      Bayern Munich      1–0
22          1976–77       England          Liverpool      3–1
23          1977–78       England          Liverpool      1–0
24          1978–79       England  Nottingham Forest      1–0
25          1979–80       England  Nottingham Forest      1–0
26          1980–81       England          Liverpool      1–0
27          1981–82       England        Aston Villa      1–0
28          1982–83  West Germany       Hamburger SV      1–0
29          1983–84       England          Liverpool  1–1*[a]
..              ...           ...                ...      ...
44          1998–99       England  Manchester United      2–1
45        1999–2000         Spain        Real Madrid      3–0
46          2000–01       Germany      Bayern Munich  1–1*[f]
47          2001–02         Spain        Real Madrid      2–1
48          2002–03         Italy           AC Milan  0–0*[g]
49          2003–04      Portugal              Porto      3–0
50          2004–05       England          Liverpool  3–3*[h]
51          2005–06         Spain          Barcelona      2–1
52          2006–07         Italy           AC Milan      2–1
53          2007–08       England  Manchester United  1–1*[i]
54          2008–09         Spain          Barcelona      2–0
55          2009–10         Italy        Inter Milan      2–0
56          2010–11         Spain          Barcelona      3–1
57          2011–12       England            Chelsea  1–1*[j]
58          2012–13       Germany      Bayern Munich      2–1
59          2013–14         Spain        Real Madrid     4–1†
60          2014–15         Spain          Barcelona      3–1
61          2015–16         Spain        Real Madrid  1–1*[k]
62          2016–17         Spain        Real Madrid      4–1
63          2017–18         Spain        Real Madrid      3–1
64          2018–19       England          Liverpool      2–0
65          2019–20       Germany      Bayern Munich      1–0
66          2020–21       England            Chelsea      1–0
67          2021–22         Spain        Real Madrid      1–0
68          2022–23       England    Manchester City      1–0
69          2023–24         Spain        Real Madrid      2–0
70  Upcoming finals           NaN                NaN      NaN
71           Season       Country           Finalist    Match
72          2024–25           NaN                NaN        v
73          2025–26           NaN                NaN        v

0                 Runners-up       Country  \
0                      Reims        France
1                 Fiorentina         Italy
2                   AC Milan         Italy
3                      Reims        France
4        Eintracht Frankfurt  West Germany
5                  Barcelona         Spain
6                Real Madrid         Spain
7                    Benfica      Portugal
8                Real Madrid         Spain
9                    Benfica      Portugal
10                  Partizan    Yugoslavia
11               Inter Milan         Italy
12                   Benfica      Portugal
13                      Ajax   Netherlands
14                    Celtic      Scotland
15             Panathinaikos        Greece
16               Inter Milan         Italy
17                  Juventus         Italy
18           Atlético Madrid         Spain
19                       NaN           NaN
20              Leeds United       England
21             Saint-Étienne        France
22  Borussia Mönchengladbach  West Germany
23               Club Brugge       Belgium
24                  Malmö FF        Sweden
25              Hamburger SV  West Germany
26               Real Madrid         Spain
27             Bayern Munich  West Germany
28                  Juventus         Italy
29                      Roma         Italy
..                       ...           ...
44             Bayern Munich       Germany
45                  Valencia         Spain
46                  Valencia         Spain
47          Bayer Leverkusen       Germany
48                  Juventus         Italy
49                    Monaco        France
50                  AC Milan         Italy
51                   Arsenal       England
52                 Liverpool       England
53                   Chelsea       England
54         Manchester United       England
55             Bayern Munich       Germany
56         Manchester United       England
57             Bayern Munich       Germany
58         Borussia Dortmund       Germany
59           Atlético Madrid         Spain
60                  Juventus         Italy
61           Atlético Madrid         Spain
62                  Juventus         Italy
63                 Liverpool       England
64         Tottenham Hotspur       England
65       Paris Saint-Germain        France
66           Manchester City       England
67                 Liverpool       England
68               Inter Milan         Italy
69         Borussia Dortmund       Germany
70                       NaN           NaN
71                  Finalist       Country
72                       NaN           NaN
73                       NaN           NaN

0                                        Venue Attend­ance[15]
0              Parc des Princes, Paris, France           38239
1             Santiago Bernabéu, Madrid, Spain          124000
2            Heysel Stadium, Brussels, Belgium           67000
3       Neckarstadion, Stuttgart, West Germany           72000
4              Hampden Park, Glasgow, Scotland          127621
5          Wankdorf Stadium, Bern, Switzerland           26732
6    Olympisch Stadion, Amsterdam, Netherlands           61257
7             Wembley Stadium, London, England           45715
8               Praterstadion, Vienna, Austria           71333
9                       San Siro, Milan, Italy           89000
10           Heysel Stadium, Brussels, Belgium           46745
11          Estádio Nacional, Lisbon, Portugal           45000
12            Wembley Stadium, London, England           92225
13            Santiago Bernabéu, Madrid, Spain           31782
14                      San Siro, Milan, Italy           53187
15            Wembley Stadium, London, England           83179
16             De Kuip, Rotterdam, Netherlands           61354
17  Red Star Stadium, Belgrade, SFR Yugoslavia           89484
18           Heysel Stadium, Brussels, Belgium           48722
19                                         NaN             NaN
20             Parc des Princes, Paris, France           48374
21             Hampden Park, Glasgow, Scotland           54864
22                Stadio Olimpico, Rome, Italy           57000
23            Wembley Stadium, London, England           92500
24        Olympiastadion, Munich, West Germany           57500
25            Santiago Bernabéu, Madrid, Spain           51000
26             Parc des Princes, Paris, France           48360
27             De Kuip, Rotterdam, Netherlands           46000
28             Olympic Stadium, Athens, Greece           73500
29                Stadio Olimpico, Rome, Italy           69693
..                                         ...             ...
44                  Camp Nou, Barcelona, Spain           90245
45        Stade de France, Saint-Denis, France           80000
46                      San Siro, Milan, Italy           71500
47             Hampden Park, Glasgow, Scotland           50499
48           Old Trafford, Manchester, England           62315
49    Arena AufSchalke, Gelsenkirchen, Germany           53053
50   Atatürk Olympic Stadium, Istanbul, Turkey           69000
51        Stade de France, Saint-Denis, France           79610
52             Olympic Stadium, Athens, Greece           63000
53            Luzhniki Stadium, Moscow, Russia           67310
54                Stadio Olimpico, Rome, Italy           62467
55            Santiago Bernabéu, Madrid, Spain           73490
56            Wembley Stadium, London, England           87695
57              Allianz Arena, Munich, Germany           62500
58            Wembley Stadium, London, England           86298
59            Estádio da Luz, Lisbon, Portugal           60976
60             Olympiastadion, Berlin, Germany           70442
61                      San Siro, Milan, Italy           71942
62          Millennium Stadium, Cardiff, Wales           65842
63      NSC Olimpiyskiy Stadium, Kyiv, Ukraine           61561
64        Metropolitano Stadium, Madrid, Spain           63272
65            Estádio da Luz, Lisbon, Portugal            0[l]
66          Estádio do Dragão, Porto, Portugal       14,110[m]
67        Stade de France, Saint-Denis, France           75000
68   Atatürk Olympic Stadium, Istanbul, Turkey           71412
69            Wembley Stadium, London, England           86212
70                                         NaN             NaN
71                                       Venue             NaN
72              Allianz Arena, Munich, Germany             NaN
73             Puskás Aréna, Budapest, Hungary             NaN

[74 rows x 8 columns]

In [6]:
df.head()

,Season,Country,Winners,Score,Runners-up,Country,Venue,Attend­ance[15]
0,1955–56,Spain,Real Madrid,4–3,Reims,France,"Parc des Princes, Paris, France",38239
1,1956–57,Spain,Real Madrid,2–0,Fiorentina,Italy,"Santiago Bernabéu, Madrid, Spain",124000
2,1957–58,Spain,Real Madrid,3–2†,AC Milan,Italy,"Heysel Stadium, Brussels, Belgium",67000
3,1958–59,Spain,Real Madrid,2–0,Reims,France,"Neckarstadion, Stuttgart, West Germany",72000
4,1959–60,Spain,Real Madrid,7–3,Eintracht Frankfurt,West Germany,"Hampden Park, Glasgow, Scotland",127621

In [7]:
# Step 1: Rename columns for clarity
df.columns = ['Season', 'Country_Winners', 'Winners', 'Score', 'Runners_up', 'Country_Runners_up', 'Venue', 'Attendance']
df.head()

# The column names like "Country.1" and "Attend­ance[15]" were cleaned up.

,Season,Country_Winners,Winners,Score,Runners_up,Country_Runners_up,Venue,Attendance
0,1955–56,Spain,Real Madrid,4–3,Reims,France,"Parc des Princes, Paris, France",38239
1,1956–57,Spain,Real Madrid,2–0,Fiorentina,Italy,"Santiago Bernabéu, Madrid, Spain",124000
2,1957–58,Spain,Real Madrid,3–2†,AC Milan,Italy,"Heysel Stadium, Brussels, Belgium",67000
3,1958–59,Spain,Real Madrid,2–0,Reims,France,"Neckarstadion, Stuttgart, West Germany",72000
4,1959–60,Spain,Real Madrid,7–3,Eintracht Frankfurt,West Germany,"Hampden Park, Glasgow, Scotland",127621

In [8]:
# Step 2: Convert 'Attendance' to numerical values
df['Attendance'] = pd.to_numeric(df['Attendance'], errors='coerce')
df.head()

#The "Attendance" column is currently a string, which was converted to integers for analysis.

,Season,Country_Winners,Winners,Score,Runners_up,Country_Runners_up,Venue,Attendance
0,1955–56,Spain,Real Madrid,4–3,Reims,France,"Parc des Princes, Paris, France",38239.0
1,1956–57,Spain,Real Madrid,2–0,Fiorentina,Italy,"Santiago Bernabéu, Madrid, Spain",124000.0
2,1957–58,Spain,Real Madrid,3–2†,AC Milan,Italy,"Heysel Stadium, Brussels, Belgium",67000.0
3,1958–59,Spain,Real Madrid,2–0,Reims,France,"Neckarstadion, Stuttgart, West Germany",72000.0
4,1959–60,Spain,Real Madrid,7–3,Eintracht Frankfurt,West Germany,"Hampden Park, Glasgow, Scotland",127621.0

In [9]:
# Step 3: Remove special symbols from 'Score' column
df['Score'] = df['Score'].str.replace('†', '', regex=False)
df.head()

# The score column contains special symbols (e.g., "3–2†"). I removed those those symbols.

,Season,Country_Winners,Winners,Score,Runners_up,Country_Runners_up,Venue,Attendance
0,1955–56,Spain,Real Madrid,4–3,Reims,France,"Parc des Princes, Paris, France",38239.0
1,1956–57,Spain,Real Madrid,2–0,Fiorentina,Italy,"Santiago Bernabéu, Madrid, Spain",124000.0
2,1957–58,Spain,Real Madrid,3–2,AC Milan,Italy,"Heysel Stadium, Brussels, Belgium",67000.0
3,1958–59,Spain,Real Madrid,2–0,Reims,France,"Neckarstadion, Stuttgart, West Germany",72000.0
4,1959–60,Spain,Real Madrid,7–3,Eintracht Frankfurt,West Germany,"Hampden Park, Glasgow, Scotland",127621.0

In [10]:
# Step 4: Normalize country names (no changes needed here, but we can combine the two country columns for better analysis)
# Add clarity by creating a new 'Countries' column to combine the two:
df['Countries'] = df['Country_Winners'] + ' vs ' + df['Country_Runners_up']
df.tail()

,Season,Country_Winners,Winners,Score,Runners_up,Country_Runners_up,Venue,Attendance,Countries
69,2023–24,Spain,Real Madrid,2–0,Borussia Dortmund,Germany,"Wembley Stadium, London, England",86212.0,Spain vs Germany
70,Upcoming finals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,Season,Country,Finalist,Match,Finalist,Country,Venue,NaN,Country vs Country
72,2024–25,NaN,NaN,v,NaN,NaN,"Allianz Arena, Munich, Germany",NaN,NaN
73,2025–26,NaN,NaN,v,NaN,NaN,"Puskás Aréna, Budapest, Hungary",NaN,NaN

In [11]:
# Step 5: Remove any duplicate rows
df = df.drop_duplicates()
df.head()

,Season,Country_Winners,Winners,Score,Runners_up,Country_Runners_up,Venue,Attendance,Countries
0,1955–56,Spain,Real Madrid,4–3,Reims,France,"Parc des Princes, Paris, France",38239.0,Spain vs France
1,1956–57,Spain,Real Madrid,2–0,Fiorentina,Italy,"Santiago Bernabéu, Madrid, Spain",124000.0,Spain vs Italy
2,1957–58,Spain,Real Madrid,3–2,AC Milan,Italy,"Heysel Stadium, Brussels, Belgium",67000.0,Spain vs Italy
3,1958–59,Spain,Real Madrid,2–0,Reims,France,"Neckarstadion, Stuttgart, West Germany",72000.0,Spain vs France
4,1959–60,Spain,Real Madrid,7–3,Eintracht Frankfurt,West Germany,"Hampden Park, Glasgow, Scotland",127621.0,Spain vs West Germany

In [12]:
# Step 1: Check for missing or null values
null_values = df.isnull().sum()
null_values

Season                0
Country_Winners       3
Winners               4
Score                 2
Runners_up            4
Country_Runners_up    4
Venue                 2
Attendance            7
Countries             4
dtype: int64

In [13]:
# Step 2: Outlier detection using IQR method for 'Attendance'
Q1 = df['Attendance'].quantile(0.25)
Q3 = df['Attendance'].quantile(0.75)
IQR = Q3 - Q1
IQR

17313.0

In [14]:
# Identifying outliers based on IQR (values outside 1.5 * IQR from Q1 and Q3)
outliers = df[(df['Attendance'] < (Q1 - 1.5 * IQR)) | (df['Attendance'] > (Q3 + 1.5 * IQR))]
outliers

,Season,Country_Winners,Winners,Score,Runners_up,Country_Runners_up,Venue,Attendance,Countries
1,1956–57,Spain,Real Madrid,2–0,Fiorentina,Italy,"Santiago Bernabéu, Madrid, Spain",124000.0,Spain vs Italy
4,1959–60,Spain,Real Madrid,7–3,Eintracht Frankfurt,West Germany,"Hampden Park, Glasgow, Scotland",127621.0,Spain vs West Germany
5,1960–61,Portugal,Benfica,3–2,Barcelona,Spain,"Wankdorf Stadium, Bern, Switzerland",26732.0,Portugal vs Spain

In [15]:
# Convert 'Score' column to string and fill missing values with an empty string to avoid issues with non-string types
df['Score'] = df['Score'].astype(str).fillna('')

# Step 3: Check for inconsistent or invalid data in 'Score' column
# Invalid score data could include entries that do not follow the pattern "number–number"
invalid_scores = df[~df['Score'].str.match(r'\d+–\d+')]

# Display the invalid scores
invalid_scores

,Season,Country_Winners,Winners,Score,Runners_up,Country_Runners_up,Venue,Attendance,Countries
19,4–0&,23325,NaN,nan,NaN,NaN,NaN,NaN,NaN
70,Upcoming finals,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN
71,Season,Country,Finalist,Match,Finalist,Country,Venue,NaN,Country vs Country
72,2024–25,NaN,NaN,v,NaN,NaN,"Allianz Arena, Munich, Germany",NaN,NaN
73,2025–26,NaN,NaN,v,NaN,NaN,"Puskás Aréna, Budapest, Hungary",NaN,NaN

In [16]:
# To get the total goals scored, we will first extract the goals from the 'Score' column.
# We'll split the score into two parts (before and after the dash) and then sum the values to get the total goals.

# Extract the goals for both teams
df[['Goals_Winner', 'Goals_Runner_up']] = df['Score'].str.split('–', expand=True)

# Convert the goals columns to numeric values
df['Goals_Winner'] = pd.to_numeric(df['Goals_Winner'], errors='coerce')
df['Goals_Runner_up'] = pd.to_numeric(df['Goals_Runner_up'], errors='coerce')

# Calculate the total goals scored
df['Total_Goals'] = df['Goals_Winner'] + df['Goals_Runner_up']


df[['Season', 'Winners', 'Runners_up', 'Score', 'Goals_Winner', 'Goals_Runner_up', 'Total_Goals']].head()

,Season,Winners,Runners_up,Score,Goals_Winner,Goals_Runner_up,Total_Goals
0,1955–56,Real Madrid,Reims,4–3,4.0,3.0,7.0
1,1956–57,Real Madrid,Fiorentina,2–0,2.0,0.0,2.0
2,1957–58,Real Madrid,AC Milan,3–2,3.0,2.0,5.0
3,1958–59,Real Madrid,Reims,2–0,2.0,0.0,2.0
4,1959–60,Real Madrid,Eintracht Frankfurt,7–3,7.0,3.0,10.0

In [20]:
data_df2= df

In [22]:
data_df2.head()

,Season,Country_Winners,Winners,Score,Runners_up,Country_Runners_up,Venue,Attendance,Countries,Goals_Winner,Goals_Runner_up,Total_Goals
0,1955–56,Spain,Real Madrid,4–3,Reims,France,"Parc des Princes, Paris, France",38239.0,Spain vs France,4.0,3.0,7.0
1,1956–57,Spain,Real Madrid,2–0,Fiorentina,Italy,"Santiago Bernabéu, Madrid, Spain",124000.0,Spain vs Italy,2.0,0.0,2.0
2,1957–58,Spain,Real Madrid,3–2,AC Milan,Italy,"Heysel Stadium, Brussels, Belgium",67000.0,Spain vs Italy,3.0,2.0,5.0
3,1958–59,Spain,Real Madrid,2–0,Reims,France,"Neckarstadion, Stuttgart, West Germany",72000.0,Spain vs France,2.0,0.0,2.0
4,1959–60,Spain,Real Madrid,7–3,Eintracht Frankfurt,West Germany,"Hampden Park, Glasgow, Scotland",127621.0,Spain vs West Germany,7.0,3.0,10.0

In [23]:
data_df2.shape[0]

74

In [24]:
data_df2.columns

Index(['Season', 'Country_Winners', 'Winners', 'Score', 'Runners_up',
       'Country_Runners_up', 'Venue', 'Attendance', 'Countries',
       'Goals_Winner', 'Goals_Runner_up', 'Total_Goals'],
      dtype='object')

In [25]:
# Optionally, you can save this DataFrame to a CSV file
data_df2.to_csv('data_df2.csv', index=False)

# Ethical Implications of Data Wrangling

In this project, the following changes were made to the soccer dataset:

* Column names were modified to make them clearer.
* Attendance values were converted to a numeric format to ensure consistency for analysis.
* Special characters were removed from the score column to standardize the data.
* Duplicate rows were identified and removed to avoid redundant analysis.

# Legal and Regulatory Guidelines

The data used is sourced from Wikipedia, which is open-source and widely accepted for non-commercial research.

# Risks

The transformations performed—such as removing special characters and changing data formats—could potentially strip the data of some of its original context. For example, symbols like "†" could indicate important match information (e.g., extra time) that should be preserved.

# Assumptions

It was assumed that removing special characters from the score column would not affect the dataset's integrity. 
However, more nuanced interpretation might be needed to retain historical context.

# Data Sourcing and Credibility

The data was sourced from a public and well-maintained website (Wikipedia), but it was cross-reference with official data.

# Ethical Data Acquisition

Since the data is publicly available and sourced ethically from an open platform, no ethical concerns arise from the acquisition itself.

# Mitigation

To mitigate any ethical risks, careful documentation of all transformations was performed, 
and any assumptions made during the cleaning process were highlighted. For sensitive use, cross-checking data with original and verified sources were performed.

# Ethical Implications of Data Wrangling Summary Paragraph

In this project, several transformations were made to clean and organize the dataset, such as renaming columns, handling missing data, and converting data formats. The data was sourced from Wikipedia, which is publicly available, but its accuracy should still be verified through more authoritative sources like UEFA.

There are no direct legal or regulatory guidelines for this project, as it is used for educational purposes. However, care should be taken if the data is used for official analysis or reporting, ensuring that any assumptions (such as handling missing values or outliers) do not distort historical accuracy.

The primary risk lies in the removal of special characters and assumptions made when handling missing or incomplete data, which could unintentionally remove important information. The data was acquired ethically from an open-source platform, but it should be verified for credibility. Mitigating these ethical risks involves ensuring transparency in documenting transformations and cross-referencing with verified sources.